*.pyc
**/node_modules/
/XeroScouterCollect/.idea/.name
/XeroScouterCollect/.idea/gradle.xml
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Debug/FirstTeamScouter_Server.vshost.exe.config
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Debug/FirstTeamScouter_Server.vshost.exe.manifest
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Debug/MySql.Data.dll
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Debug/MySql.Data.xml
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Debug/XeroScouterDBManage_Server.exe
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Debug/XeroScouterDBManage_Server.exe.config
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Debug/XeroScouterDBManage_Server.pdb
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Debug/XeroScouterDBManage_Server.vshost.exe
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Debug/XeroScouterDBManage_Server.vshost.exe.config
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Release/FirstTeamScouter_Server.exe
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Release/FirstTeamScouter_Server.exe.config
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Release/FirstTeamScouter_Server.pdb
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Release/FirstTeamScouter_Server.vshost.exe
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Release/FirstTeamScouter_Server.vshost.exe.config
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Release/MySql.Data.dll
/XeroScouterDBManage/XeroScouterDBManage/bin/x64/Release/MySql.Data.xml
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Debug/XeroScouterDBManage.csproj.FileListAbsolute.txt
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Debug/XeroScouterDBManage.csproj.GenerateResource.Cache
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Debug/XeroScouterDBManage.csprojResolveAssemblyReference.cache
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Debug/XeroScouterDBManage_Server.AddMatchDataForm.resources
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Debug/XeroScouterDBManage_Server.Properties.Resources.resources
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Debug/XeroScouterDBManage_Server.exe
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Debug/XeroScouterDBManage_Server.pdb
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/DesignTimeResolveAssemblyReferences.cache
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/FirstTeamScouter_Server.Properties.Resources.resources
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/FirstTeamScouter_Server.exe
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/FirstTeamScouter_Server.pdb
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/TempPE/Properties.Resources.Designer.cs.dll
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/XeroScouterDBManage.csproj.FileListAbsolute.txt
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/XeroScouterDBManage.csproj.GenerateResource.Cache
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/XeroScouterDBManage_Server.AddMatchDataForm.resources
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/XeroScouterDBManage_Server.AddMatchForm.resources
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/XeroScouterDBManage_Server.CompetitionSelectForm.resources
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/XeroScouterDBManage_Server.ExportDataForm.resources
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/XeroScouterDBManage_Server.ImportDataForm.resources
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/XeroScouterDBManage_Server.MatchListForm.resources
/XeroScouterDBManage/XeroScouterDBManage/obj/x64/Release/XeroScouterDBManage_Server.SeasonSelectForm.resources
