<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XeroScouterDBManage_Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XeroScouterDBManage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XeroScouterDBManage_Server.Properties.EventTable" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="XeroScouterDBManage_Server.Properties.QueryStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="FirstTeamScouter_Server.QueryStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="XeroScouterDBManage.Properties.Settings.FTS_ConnectionString"
            connectionString="server=localhost;user id=ftsscout;password=ftsscouter;persistsecurityinfo=True;database=scouting"
            providerName="MySql.Data.MySqlClient" />
        <add name="XeroScouterDBManage.Properties.Settings.FTS_TEST_ConnectionString"
            connectionString="server=localhost;user id=ftsscout;password=ftsscouter;persistsecurityinfo=True;database=scouting_test"
            providerName="MySql.Data.MySqlClient" />
        <add name="XeroScouterDBManage_Server.Properties.Settings.FTS_ConnectionString"
            connectionString="server=localhost;user id=ftsscout;password=ftsscouter;persistsecurityinfo=True;database="
            providerName="MySql.Data.MySqlClient" />
        <add name="XeroScouterDBManage_Server.Properties.Settings.DBConnectionTemplate"
            connectionString="server={0}; user id={1}; password={2};persistsecurityinfo={3};database={4}"
            providerName="" />
    </connectionStrings>
    <userSettings>
        <XeroScouterDBManage_Server.Properties.Settings>
            <setting name="ExportPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="SeasonID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CompetitionID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>scouting</value>
            </setting>
            <setting name="TestDatabaseName" serializeAs="String">
                <value>scouting_test</value>
            </setting>
            <setting name="dbHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>ftsscout</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>ftsscouter</value>
            </setting>
            <setting name="dbPersistSecurity" serializeAs="String">
                <value>True</value>
            </setting>
        </XeroScouterDBManage_Server.Properties.Settings>
        <XeroScouterDBManage.Properties.Settings>
            <setting name="ExportPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="SeasonID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CompetitionID" serializeAs="String">
                <value>-1</value>
            </setting>
        </XeroScouterDBManage.Properties.Settings>
    </userSettings>
</configuration>