html
    head
        script(src='assets/react/dist/react.js')
        script(src='assets/react-dom/dist/react-dom.js')
        script(src='assets/jquery/dist/jquery.js')
        script(src='assets/bootstrap/dist/js/bootstrap.js')
        script(src='assets/bootstrap-material-design/dist/js/material.js')
        link(rel='stylesheet' type='text/css' href='assets/css/chart.css')
        link(rel='stylesheet' type='text/css' href='assets/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' type='text/css' href='assets/bootstrap-material-design/dist/css/bootstrap-material-design.css')
        title= title
