| {% load static %}

html
    head
        script(src="{% static 'react/dist/react.min.js' %}")
        script(src="{% static 'react-dom/dist/react-dom.min.js' %}")
        script(src="{% static 'jquery/dist/jquery.min.js' %}")
        script(src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}")
        script(src="{% static 'bootstrap-material-design/dist/js/material.min.js' %}")
        link(rel="stylesheet" type="text/css" href="{% static 'css/chart.min.css' %}")
        link(rel="stylesheet" type="text/css" href="{% static 'css/index.min.css' %}")
        link(rel="stylesheet" type="text/css" href="{% static 'animate.css/animate.min.css'%}")
        link(rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}")
        link(rel="stylesheet" type="text/css" href="{% static 'bootstrap-material-design/dist/css/bootstrap-material-design.min.css' %}")
        title= title
