| {% load static %}

html
    head
        script(src="{% static 'react/dist/react.js' %}")
        script(src="{% static 'react-dom/dist/react-dom.js' %}")
        script(src="{% static 'jquery/dist/jquery.js' %}")
        script(src="{% static 'bootstrap/dist/js/bootstrap.js' %}")
        script(src="{% static 'bootstrap-material-design/dist/js/material.js' %}")
        link(rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}")
        link(rel="stylesheet" type="text/css" href="{% static 'animate.css/animate.css'%}")
        link(rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}")
        link(rel="stylesheet" type="text/css" href="{% static 'bootstrap-material-design/dist/css/bootstrap-material-design.css' %}")
        title= title
