html
    head
        script(src='assets/react/dist/react.min.js')
        script(src='assets/react-dom/dist/react-dom.min.js')
        script(src='assets/jquery/dist/jquery.min.js')
        script(src='assets/bootstrap/dist/js/bootstrap.min.js')
        script(src='assets/bootstrap-material-design/dist/js/material.min.js')
        link(rel='stylesheet' type='text/css' href='assets/css/chart.min.css')
        link(rel='stylesheet' type='text/css' href='assets/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' type='text/css' href='assets/bootstrap-material-design/dist/css/bootstrap-material-design.min.css')
        title= title
