| {% load render_bundle from webpack_loader %}
doctype html
body
    include navbar
    .canvas-holder(max-height="100px" max-width="100px")
        canvas.chart-area#myChart(height="640px" width="400px" style="width: 640px; height: 400px;")
    | {% render_bundle 'main' %}
