| {% load render_bundle from webpack_loader %}
doctype html
include head
html
    +head_with_title('Welcome')
    body
        include navbar
        #container
        | {% render_bundle 'main' %}
        .graph.js-splash--responsive-chart-js.js-plotly-plot
            .plot-container.plotly
                .svg-container
                    
