<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wilsonvillerobotics.com.xeroscoutercollect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PitScoutingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ScoutingActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.MatchConfirmationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.SanityCheckActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.SyncActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.ExportActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.AutonomousTabActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.TeleopTabActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.FinalizeTabActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.ManageDBActivity"
            android:configChanges="orientation|screenSize" />

    </application>

</manifest>

