#titleBar {
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
}

.spacer {
    min-height: 25px;
    &.small {
        min-height: 10px;
        height: 10px;
    }
    &.medium {
        min-height: 25px;
        height: 25px;
    }
    &.large {
        min-height: 50px;
        height: 50px;
    }

}
